<div class="this_page1">
<div class="new_text">
      <h3>♪楽譜を投稿する♪</h3>
    </div>
<div class="this_page">
    

  <%= form_for @tweet do |f| %>

  <div class="field">
    <%= f.label :music_name %>
    <%= f.text_field :body, :size => 100 %><br>
    <%= f.label :composer %>
    <%= f.text_field :author, :size => 80 %><br>
    <%= f.label :instrument %>
    <%= f.text_field :instrument, :size => 100 %><br>
    
    <%= f.label :youtube_url %>
    <%= f.text_field :youtube_url, :size => 100 %><br>
    <%= f.label :その他url %>
    <%= f.text_field :otherurl, :size => 100 %><br>
  </div>

  <div class="check_box">
    <div class="level_name">
      <h4>Level</h4>
    </div>

    <div>
    <%= f.collection_check_boxes(:tagm_ids, Tagm.all, :id, :name) do |tagm| %>
    <div class="tag">
        <%= tagm.label do %>
            <%= tagm.check_box %>
            <%= tagm.text %>
        <% end %>
    </div>
    <% end %>
    </div>
  </div>

  <div class="submit">
    <%= f.submit "投稿する" %>
    <% end %>
  </div>
  <div class= "back">
    <%= link_to "投稿一覧に戻る", tweets_path %>
  </div>
</div>
</div>